@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


*{
    margin:0;
    padding: 0;
}

  
body{
    background-color: rgb(17, 17, 17);
    /*background-image: linear-gradient(147deg, rgb(17, 17, 17) 0%, #000000 74%);*/
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    align-items: center;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background-color: #2b2525;
    border-radius: 100px;
}

body::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-image: linear-gradient(180deg, #df1986 0%, #d42020 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);

}

h1{
    padding: 2%;
    margin: 2%;
    padding-bottom: 0;
    margin-bottom: 1%;
    
}


hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 5px rgb(164, 0, 0);
    border-top: 1px solid white;
}
hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}


/*
ul, p{
    font-family: "News Cycle", Arial, Helvetica, sans-serif;
}
*/

.presentationPage{
    background-image: url("../Assets/Darthrevan_wallpaper.png");
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    z-index: 1;  
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    box-sizing: border-box;
}


/*
.presentationPage aside{
    display: inline-block;
    position: relative;
    bottom: 10px;
    bottom: .5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentationPage i{
    font-size: 1.5em;
}*/


.aboutMePage{
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    box-sizing: border-box;
}

.aboutMePage .photoAboutMe{
    align-items: center;
    justify-content: center;
    align-items: center;
    grid-column: 6;
    grid-row: 1;
    padding: 2%;
    margin: 2%;
}

.aboutMePage .photoAboutMe img{
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
}



.aboutMeBlock{
    text-align: justify;
    grid-column: 2/11;
    grid-row: 2;
    padding: 2%;
    margin: 2%;
    margin-bottom: 20%;
}

.aboutMeBlock h1{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

.aboutMeBlock p{
    font-size: 1rem;
    width: 100%;
}


/*PROJECT PAGE*/


/*EDUCATION PAGE*/

.educationPage{
    height: auto;
    box-sizing: border-box;
}

.educationPage h1{
    padding: 1%;
    margin: 1%;
}

.university, .coursera{
    align-items: center;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    align-items: center;
    padding: 2% 2% 2% 2%; 
}


.educationPage  #nacional, #course{
    width: 25rem;
    margin: 0 auto;
    display: block;
    margin-top:30px;
    margin-bottom: 50px;
}


.educationPage  #nacional{
    width: 30rem;
}
.educationPage #course{
    width: 20rem;
}
 
.card{
    width:90%;
	margin: 2.5% 2.5% 5% 5%;
	display: block;    
}


.educationPage .card ul, .educationPage .card p{
    padding: 2% 2% 2% 20%;
}

.educationPage .card h3{
    padding: 2%;
}

.university .card{
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgb(0, 164, 49);
}

.university .card h3{
    background-color: rgba(78, 168, 60, 0.281);
    border-radius: 20px 20px 0px 0px;
}
.university .card div{
    background-color: rgba(151, 192, 153, 0.479);
    color: #fff;
    border-radius: 0 0 20px 20px;
}

.coursera .card{
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgb(0, 162, 255);
}

.coursera .card h3{
    background-color: #0b5bd43b;
    border-radius: 20px 20px 0px 0px;
}
.coursera .card div{
    background-color: rgba(116, 152, 250, 0.452);
    color: #fff;
    border-radius: 0 0 20px 20px;
}



/* Experience */

.experiencePage{
        min-height: 100vh;
        height: auto;
        padding: 2%;
        font-size: 1rem;
        box-sizing: border-box;
}


.cardContainer{
    background-color: rgb(83, 3, 83) ;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 0 10px 5px rgba(204, 0, 204, 0.466);
    border-radius: 30px;
    padding: 2%;
    margin: 1% 1% 3% 1%;
    width: 100%;
    height: 100px;
	display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    font-size: 1em;
    overflow: hidden;
    transition-property: all;
    transition-duration: 1s;
}

.cardContainer h2{
    /*margin-bottom: 20%;*/
    transition-duration: 1s;
    justify-content: center;
    width: 150%;
    grid-column: 1;
    grid-row: 1;
    margin: 3%;
    font-size: 1.3rem;
}

.cardContainer .skillContainer{
    display: none;
    color: #000;
    transition: 2s;
    font-size: 1.1rem;
    grid-column: 2/4;
    grid-row: 1;
    margin-top: 10%;
}

.cardContainer i{
    display: none;
    font-size: 8rem;
    margin-top: 20px;  
    grid-column: 4;  
    margin-left: 20px;
}


/*hover*/ 

.cardContainer:hover{
    opacity: 1;
    transition-property: all;
    transition: 1.5s;
    height: 200px;
    background-color: #fff;
    color: #000;
    border-color: #000;    
}

.cardContainer:hover h2{
    display: inline-block;
    transform: rotate(-90deg); 
    transition-duration: 2s;
    -moz-transform: rotate(-90deg);
    left: 20%;  
    margin-bottom: 85%;
    padding-top: 10px;
    grid-row: 1;
    justify-content: center;
}

.cardContainer:hover .skillContainer {
    display: inline-block;
    text-align: center;
    list-style: none;
    width: 100%;
    margin-bottom: 50px;
}

.skillContainer ul{
    list-style: none;
}


.cardContainer:hover i {
    display: block;
    text-align: right;
    float:right;
    padding: 5%;
    padding-left: 10%;
}


/* Footer */

footer{
    display:inline-block;
    position: relative;
    padding: 2%;
    height: 75px;
    width: 100%;
    justify-content:center;
    align-items:center;
    text-align: center;
    font-size: 1.25rem;
    box-sizing: border-box;
    /*
    display: inline-block;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
   
    height: 50px;
    width: 100%;
    border-top: 1px solid white;
    justify-content:center;
    align-items:center;
    font-size: 1.3rem;
    */
}

footer i{
    font-size: 3rem;
    margin: 2%;
}

@media screen and (min-width:900px) {
    /*EDUCATION PAGE*/
        .educationPage{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }
    
        /*
        #course, #nacional{
            grid-row: 1;
        }
    
        .educationPage #course{
            width: 15rem;
        }*/

    /*ABOUT ME PAGE*/

    .aboutMePage .photoAboutMe{
        grid-column: 9/10;
        grid-row: 1;
    }
    
    
    .aboutMeBlock{
        grid-column: 4/9;
        grid-row: 1;

    }

    .aboutMePage .photoAboutMe img{
        margin-top: 0px;
        margin-bottom: 10px;
    }


    /* EXPERIENCE PAGE*/

    .experiencePage{
        min-height: auto;
        box-sizing: border-box;

    }

    .experienceContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-auto-rows: minmax(10px, auto);
        box-sizing: border-box;
    }

    .cardContainer{
        margin: 0% 2%;
        box-sizing: border-box;
    }

    .experienceContainer:nth-child(even){
        grid-column: 1/2;
    }

    .experienceContainer:nth-child(odd){
        grid-column: 2;
    }

    .experienceContainer h2{
        width: 150%;
    }

    .cardContainer:hover{
        overflow-y: scroll;
    }

    .cardContainer:hover::-webkit-scrollbar{
        width: 5px;
    }
    
    .cardContainer:hover::-webkit-scrollbar-thumb{
        border-radius: inherit;
        background-color: #000;
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    
    }

    .experienceContainer:hover h2{
        margin-left: 20%;
    }

    .cardContainer:hover .skillContainer{
        margin-left: 20%;
    }
    
     footer p{
        font-size: 1.5rem;
    }

    footer i{
        font-size: 3.5rem;
    }
}


@media screen and (min-width:1000px){
    
    /*EXPERIENCE PAGE*/

    .experienceContainer:hover h2{
        margin-left: 0;
        margin-right: 50%;
        margin-bottom: 80%;
    }

    .cardContainer:hover .skillContainer{
        margin-left: 5%;
    }

}

@media screen and (min-width: 1500px){

    .cardContainer h2{
        font-size: 1.8rem;
    }

    .cardContainer .skillContainer{
        font-size: 1.25rem;
    }

    .cardContainer:hover{
        overflow-y: scroll;
    }

    .experienceContainer:hover h2{
        transform: none; 
    }

    .cardContainer:hover .skillContainer{
        position: relative;
        margin-bottom: 200%;
    }

    footer p{
        font-size: 1.75rem;
    }

    footer i{
        font-size: 4rem;
    }

}

/* CHANGING SOME FONTS-SIZE*/

@media screen and (max-width: 550px){

    /*EXPERIENCE PAGE*/

    .cardContainer{
        overflow-y: scroll;
    }
    .cardContainer i{
        font-size: 6rem;
    }

    .cardContainer h2{
        width: 200%;
        font-size: 1.3rem;
    }

    .cardContainer .skillContainer{
        margin-left: 10%;
        font-size: .8rem;
    }

}


@media screen and (max-width: 480px){

    /*EDUCATION PAGE*/
    .educationPage  #nacional{
        width: 24rem;
        margin-left: 20px;
    }
    .educationPage #course{
        width: 15rem;
    }

    /*EXPERIENCE PAGE*/

    .cardContainer i{
        font-size: 4rem;
        margin: 60px 2px 0 0;
        
    }

    .cardContainer .skillContainer{
        font-size: .85rem;
        margin-left: 5%;
    }

    .cardContainer h2{
        font-size: 1.2rem;
    }


}


@media screen and (max-width: 400px){
    /*EDUCATION PAGE*/
    .educationPage  #nacional{
        width: 20rem;
    }

    .educationPage #course{
        width: 12.5rem;
    }
}


@media screen and (max-width: 350px){
    /*ABOUT ME PAGE */
    .aboutMePage .photoAboutMe img{
        width: 150px;
    }

    /*EDUCATION PAGE*/
    .educationPage  #nacional{
        width: 15rem;
        margin: 0;
        margin: 20px 0px 20px 30px;
    }


    .educationPage #course{
        width: 12.5rem;
    }


    /*EXPERIENCE PAGE*/


    .cardContainer i{
        font-size: 3rem;
        margin: 70px 2px 0 0;
        
    }

    .cardContainer .skillContainer{
        font-size: .7rem;
        margin-left: 0;
    }

    .cardContainer h2{
        width: 200%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 300px){
    /*EDUCATION PAGE*/
    .educationPage  #nacional{
        width: 14rem;
    }

    .educationPage #course{
        width: 10rem;
    }
}

@media screen and (max-width: 270px){
    /*EDUCATION PAGE*/
    .educationPage  #nacional{
        width: 7.5rem;
    }

    .educationPage #course{
        width: 5rem;
    }

    /*EXPERIENCE PAGE*/
       .cardContainer:hover i{
        display: none;   
    }

    .cardContainer .skillContainer{
        grid-row: 2;
        font-size: .9rem;
    }

    .cardContainer:hover h2{
        transform: none;
        margin: 5%;
        font-size: 1.2rem;
    }

    
}

